<div class="comment">
  <p class="comment-content">
    <%= comment.content %>
  </p>
  <p class="comment-posted-by">
    By: <%= comment.user.email %> <%= time_ago_in_words(comment.created_at) %>
  </p>

  <div class="links">
    <% if comment.user_id == current_user.id %>
      <%= link_to "Edit", edit_message_comment_path(comment.message, comment) %>
      <%= link_to "Delete", message_comment_path(comment.message, comment), method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
</div>
